# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env
.env.*

# Data files
# *.csv
!data/test_df_features.csv
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Test and coverage artifacts
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pyc
*.pyo
*.pyd
*.pytest_cache/
test-results/

# Docker
*.pid
*.db
*.tar
*.gz
*.bak

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Temporary files
*.swp
*.tmp
*.bak

# Ignore XGBoost models files.
models/xgboost_model_*.json
models/
xgboost_model_*.json.meta.json

# Ignore any other large binary files or models
*.pkl
*.joblib
*.h5
*.pickle
*.model